<div class="box-mid flex box-hover" onclick="location.href = '{% url 'forums:thread' pk=entry.pk %}'" style="cursor: pointer;">
    <div class="box-figure">
        {% if entry.author.profile.thumb50 %}
            <a href="{% url 'profiles:profile' entry.author.username %}">
                {% if entry.author.profile.is_proxy %}<i class="community"></i>{% endif %}
                <img 
                    src="{{ entry.author.profile.thumb50.url }}" width="50">
            </a>
            {% endif %}

    </div>
    <div class="box-body">

        <div class="box-text">
            <b><a href="{% url 'profiles:profile' entry.author.username %}">{{ entry.author.username }}</a></b>:
               
            <span class="light">
                {{entry.title}} 
                {% if entry.question %}
                (<a href="{% url 'questions:question' slug=entry.question.slug %}">#{{ entry.question }}</a>)
                {% endif %}
            </span>
            <span class="small" style="color:#ccc;">{{ entry.created|timesince }}</span>
            <br />
            <span class="homeStanceContent with-mentions parsable"></span>
        </div>


        <div class="box-links">
            <a href="{% url 'forums:thread' pk=entry.pk %}">{{ entry.num_comments }} comments</a> |
            <a href="{% url 'forums:thread' pk=entry.pk %}">reply</a>
        </div>
    </div>
</div>
<div class="box-link"></div>
