// - - - - - - - - - - - - - - - - - - -
// - - settings
// global maps and variables



 /*font-family: verdana;*/

    /* Hoefler */
    /*font-family: "Gotham SSm A", "Gotham SSm B"; font-weight: 200;*/
    /*font-family: "Gotham SSm A", "Gotham SSm B"; font-weight: 300;*/
    /*font-family: "Gotham SSm A", "Gotham SSm B"; font-weight: 400;*/
    /*font-family: "Gotham SSm A", "Gotham SSm B"; font-weight: 700;*/
    /*font-family: "Gotham A", "Gotham B"; font-weight: 300;*/
    //font-family: "Gotham A", "Gotham B", verdana; font-weight: 400;
    /*font-family: "Gotham A", "Gotham B"; font-weight: 700;*/
    /*font-family: "Whitney SSm A", "Whitney SSm B"; font-weight: 300;*/
    /*font-family: "Whitney SSm A", "Whitney SSm B"; font-weight: 400;*/
    /*font-family: "Whitney SSm A", "Whitney SSm B"; font-weight: 700;*/
    /*font-family: "Idlewild A", "Idlewild B"; font-weight: 200;*/
    /*font-family: "Idlewild A", "Idlewild B"; font-weight: 400;*/
    /*font-family: "Idlewild A", "Idlewild B"; font-weight: 500;*/
    /*font-family: "Idlewild A", "Idlewild B"; font-weight: 600;*/
    /*font-family: "Idlewild A", "Idlewild B"; font-weight: 800;*/
    /*font-family: "Sentinel SSm A", "Sentinel SSm B"; font-weight: 400;*/
    /*font-family: "Sentinel SSm A", "Sentinel SSm B"; font-weight: 700;*/
    /*font-family: "Hoefler Text A", "Hoefler Text B"; font-weight: 400;*/
    /*font-family: "Hoefler Text A", "Hoefler Text B"; font-weight: 700;*/
    /*font-family: "Hoefler Text A", "Hoefler Text B"; font-weight: 800;*/
    /*font-family: "Operator SSm A", "Operator SSm B"; font-weight: 400;*/
    /*font-family: "Operator SSm A", "Operator SSm B"; font-weight: 700;*/
    /*font-family: "Archer SSm A", "Archer SSm B"; font-weight: 500;*/
    /*font-family: "Archer SSm A", "Archer SSm B"; font-weight: 800;*/
    /*font-family: "Chronicle SSm A", "Chronicle SSm B"; font-weight: 400;*/
    /*font-family: "Chronicle SSm A", "Chronicle SSm B"; font-weight: 600;*/

    /* Pack 2 */
    /*font-family: "ff-tisa-web-pro",serif; font-weight: 400;*/
    /*font-family: "ff-tisa-sans-web-pro",sans-serif; font-weight: 400;*/


$color-primary: #1EAEDB;
$color-primary: #0f3e3e;
$color-primary-hover: #0FA0CE;
$color-light: red;

$font1: "Gotham A", "Gotham B", verdana;
$font2: "Sentinel SSm A", "Sentinel SSm B";
$font3: "Whitney SSm A", "Whitney SSm B";
$font4: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

$font-weight: 400;
$font-weight-bold: 700;

$margin: 0;
$padding: 20px;

$proColor: #a2d53b;
$conColor: #ff6666;
$naColor: #ccc;


$border-color-1: #e1e8ed;
$border-color-2: #e8e1ed;
$border-color-3: #efefef;
