// - - - - - - - - - - - - - - - - - - -
// - - typography
// global typography styles


.font4 {
  font-family: $font4;
}


.smallHead {
    font-size: 1.1rem;
    font-family: $font1;
    text-transform: uppercase;
    font-weight: 700;
}

.community {
    
}
