.homepage{
	& .header-message-box{
		position: absolute;
		min-width: 250px;
		width: 50%; 
		top: 50%; 
		right: 4%; 
		transform: translate(0%, -50%); 
		background: rgba(0, 0, 0, 0.5);
		max-width: 650px; 
		padding: 4% 3%; 
		color: #fff;
	}

	& .homepage-item{
		font-size: 15px;
		padding-bottom: 10px;
		& .title{
			font-size: 26px;
		}
		
		& ul{
			padding-left: 15px;
		}
		
		& .item-image{
			width: 100%;
		}
	}
	
	& .link-popup-iframe{
		position: relative;
		display: block;
		&:after{
			display: block;
			position: absolute;
			content: 'Click Me!';
			background: rgba(100, 100, 100, 0.5);
			color: #fff;
			border-radius: 6px;
			border: 1px solid #fff;
			padding: 0px 32px;
			font-size: 22px;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    white-space: nowrap;
		}
		
		&:hover{
			&:after{
				-webkit-animation-name: pulsate;
				-webkit-animation-duration: 1s;
				-webkit-animation-timing-function: ease-in-out;
				-webkit-animation-iteration-count: infinite
			}
		}
		
		@-webkit-keyframes pulsate {
		    0% { font-size: 20px;}
		    10% { font-size: 20.5px;}
		    20% { font-size: 21px;}
		    30% { font-size: 21.5px;}
		    40% { font-size: 22px;}
		    50% { font-size: 22.5px;}
		    60% { font-size: 22px;}
		    70% { font-size: 21.5px;}
		    80% { font-size: 21px;}
		    90% { font-size: 20.5px;}
		    100% { font-size: 20px;}
		 }
	}
}