// - - - - - - - - - - - - - - - - - - -
// - - profileBadges module

.profileBadgesContainer {
    width: 100%;
    &:after{
    	content: ' ';
    	clear: both;
    	display: block;
    }
    .badgeContainer {
        width: 200px;
        float: left;
        margin-top: 20px;
        .badgeImage {
            text-align: center;
            img {
                 width: 128px;
            }
        }
        
        .badgeTitle {
            text-align: center;
            font-weight: bold;
        }
        
        .badgeDescription {
            text-align: center;
            font-style: italic;
        }
    }
}