.followList {
    .box {
        display: table;
        
        .box-figure {
            display: table-cell;
        }

        .box-body {
            display: table-cell;
            vertical-align: middle; 
            padding-left: 8px;
        }
    }
}