// - - - - - - - - - - - - - - - - - - -
// - - icons module
// styles for the icons module

$iconWidth: 35px;


.proIcon {
    background-color: $proColor;
}

.conIcon {
    background-color: $conColor;
}
