/*.comparableSelect {
    display: none;
}*/
.sheet-users {
    display: inherit;
}

.comparableContainer {
    display: none;
    position: fixed;
    width: 200px;
}

.addComparable {
    img {
        width: 32px;
    }
} 

.sheet-items {
    padding-right: 32px;
}