// - - - - - - - - - - - - - - - - - - -
// - - questionItem module
// styles for the questionItem module

.questionItem {
  margin-bottom: 15px;
  background-color: white;
  border-bottom: 1px solid #efefef;
  padding-bottom: 15px;
}