// - - - - - - - - - - - - - - - - - - -
// - - questionSort module
// styles for the questionSort module

.questionSort {
  background-color: #fafafa;
  padding: 10px;
  border-bottom: 1px solid #fafafa;
  margin-bottom: 15px;
}