// - - - - - - - - - - - - - - - - - - -
// - - stanceReplyForm module
// styles for the stanceReplyForm module


.stanceReplyForm {
    width: 600px;
    height: 500px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
