// - - - - - - - - - - - - - - - - - - -
// - - topTen module
// styles for the topTen module

.topTen {
  margin-top: 15px;
  background-color: #fff;
}


.topTen-head {
  font-size: 1.6rem;
  // color: red;
  font-family: $font1;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 3px;
}
