// - - - - - - - - - - - - - - - - - - -
// - - unanswered module
// styles for the unanswered module


.unanswered {
  margin-top: 15px;
  background-color: #fff;
}


.unaswered-head {
  font-size: 1.1rem;
  font-family: $font1;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 3px;
}
